body {
    background-color: rgba(170, 212, 207, 1);
    max-width: 1080px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#bodycont {
    background-color: rgba(212, 232, 230, 1);
}

h1 {
    background: url(../images/lone-starfish-wide.jpg) no-repeat center;
    background-size: 1080px;
    font-size: 3rem;
    text-align: center;
    color: white;       
    padding: 2em 0em;
    margin-top: 0;
    margin-bottom: 0;
}

.container li {
    background-size: 1920, 1080;
    display: inline-block;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 30%;
    text-align: center;
}

.line {
    border-left: 1px solid;
    border-right: 1px solid;
}

h2 {
    font-size: 2rem;
    margin: 10px;
}

h3 {
    font-size: 1.7rem;
    margin: 10px;
}

h4 {
    font-size: 1.2em;
    padding-top: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}


img {
    width: 20%;
    float: left;
    padding-right: 15px;
    padding-left: 10px; 
    padding-top: 0px;
}

.starfishtext {
    font-size: 1.1em;
    padding-right: 10px;
    padding-left: 10px;
}

.facts {
    padding-left: 2rem;
    font-size: 1.1em;
}

.invoice {
    font-size: 1.1em;
    border: 1px solid;
    padding: 20px;
    margin: 10px;
}

.inbox input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inbox textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 90px;
}

.checkmark {
    padding-top: 0px;
    padding-bottom: 15px;
}

button {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    padding: 10px;
}

footer {
    text-align: end;
    padding: 1rem;
}