/*Colors  #c78c06, #ffe6ac, #222 and white*/

html {
    font-family:'Open Sans';
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #222;
}

h1,
h2,
h3,
h4 {
    font-weight: bolder;
    margin: 1em 0 0.5em;
}

h1 {
    font-size: 5.063em;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

/********************
    MOBILE FIRST
********************/

/*NAVIGATION*/

.navlist .logo {
    display: flex;
    background-color: #c78c06;
}

nav {
    background-color: #222;
    padding: 10px;
}

.navlist li {
    color: #c78c06;
    text-align: center;
}

/*LoVe HAte*/
.navlist a,
.navlist a:link,
.navlist a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.navlist a:hover,
.navlist a:focus,
.navlist a.home {
    background-color: #c78c06;
    color: #222;
}

.search {
    padding-top: 5px;
    width: 100%;
}

/*HEADER*/

.banner {
    background: url(../images/main-banner.jpg);
    width: 100%;
}

.bannertext {
    background-color: #2222225a;
}