/*Colors  #c78c06, #ffe6ac, #222 and white*/

/********************
    MOBILE FIRST
********************/

html {
    font-family: 'Open Sans';
    font-size: 14px;
}

body {
    line-height: 1.5;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

a,
a:link,
a:visited {
    color: #c78c06;
}

a:hover,
a:focus {
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: bolder;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 1em;
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*NAVIGATION*/

.navlist .logo {
    display: flex;
    background-color: #c78c06;
}

nav {
    background-color: #222;
    padding: 10px;
}

.navlist li {
    color: #c78c06;
    text-align: center;
}

/*LoVe HAte*/
.navlist a,
.navlist a:link,
.navlist a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.navlist a:hover,
.navlist a:focus,
.navlist a.home {
    background-color: #c78c06;
    color: #222;
}

.search {
    padding: 5px;
    width: 80%;
}

.searchbutton {
    padding: 5px;
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
}

/*HEADER*/

.banner {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    background-position: 50% 50%;
}

.bannertext {
    background-color: #222222b6;
    height: 450px;
    padding: 2em;
}

.bannertext h1 {
    color: white;
}

.bannertext p {
    color: white;
    margin-bottom: 30px;
}

.conectus {
    font-size: 1.2em;
    margin: 10px;
    padding: 20px;
    background-color: #c78c06;
    color: #222;
}


/* ABOUT US SECTION */

.abouttext img {
    width: 100%;
}

.abouttext {
    background-color: #ffe6ac;
    padding: 15px;
}

.abouttext p {
    margin-bottom: 10px;
}

/* SERVICES SECTION */

.services img {
    width: 100%;
}

.services {
    padding: 15px;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    background-color: #ffe6ac;
}

.servicebutton {
    font-family: 'Open Sans';
    font-size: 1.3em;
    color: white;
    background-color: #222;
    padding: 20px;
    margin-top: 10px;
    width: 40%;
}

.digital {
    padding: 20px;
}

.marketing {
    padding: 20px;
}

.video {
    padding: 20px;
}

.web {
    padding: 20px;
}

.print {
    padding: 20px;
}


/* VISION SECTION*/

.vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.visiontext {
    color: white;
    padding: 15px;
}

.visionbutton {
    font-size: 1.3em;
    color: white;
    margin-top: 5px;
    padding: 20px;
    background-color: #222222ad;
    border: 1px solid #c78c06;
}

/* OUR TEAM SECTION */

.teamtext img {
    width: 100%;
}

.teamtext {
    background-color: #ffe6ac;
    margin-top: 0px;
}

.johntext,
.bobtext {
    margin: 10px;
    padding-bottom: 10px;
}

.johntext p,
.bobtext p {
    padding-top: 10px;
    border-top: 2px solid #c78c06;
}

/* CONTACT SECTION */

.contact {
    padding: 15px;
}

.inputs {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sendbutton {
    background-color: #222;
    color: #c78c06;
    text-decoration: none;
    font-size: 1.3em;
    padding: 3px;
    margin-bottom: 50px;
}

.hourstable {
    width: 100%;
}

th:nth-child(n),
td:nth-child(n) {
    border: 1px solid #222;
    padding: 10px;
}

.hourstable thead {
    background-color: #ffe6ac;
    text-align: center;
}


.location {
    width: 100%;
}

/* FOOTER SECTION */

footer {
    background-color: #222;
    color: #c78c06;
    padding: 15px;
}


/***********************************************************************************************/
/* DESKTOP STYLE */
/***********************************************************************************************/

@media screen and (min-width:760px) {

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 2.8em;
    }

    h4 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        font-weight: 400;
    }

    /* DESKTOP NAVIGATION*/

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        background-color: #222;
        align-items: center;
    }

    .navlist li {
        color: #c78c06;
        text-align: center;
        flex-grow: 1;
    }

    .search {
        width: 60%;
    }

    /* DESKTOP HEADER*/

    .banner {
        padding-top: 50px;
        padding-bottom: 50px;
        height: 450px;
        background-position: 50% 50%;
    }

    .bannertext {
        background-color: #222222b6;
        height: 420px;
        padding: 2em;
        margin-left: 40px;
        margin-right: 40px;
    }

    .conectus {
        font-size: 1.2em;
        margin: 0;
        padding: 20px;
        background-color: #c78c06;
        color: #222;
    }

    /* DESKTOP ABOUT US SECTION */

    .abouttext {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 15px;
        background-color: #ffe6ac;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* DESKTOP SERVICES SECTION*/

    .services h2 {
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 40px;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5 {
        background-color: #ffe6ac;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:
            "dig dig dig mar mar mar"
            "vid vid web web pri pri";
        gap: 15px;
        padding: 40px
    }

    .card1 {
        grid-area: dig;
    }

    .card2 {
        grid-area: mar;
    }

    .card3 {
        grid-area: vid;
    }

    .card4 {
        grid-area: web;
    }

    .card5 {
        grid-area: pri;
    }

    .servicebutton {
        width: 88%;
    }

    /* DESKTOP VISION SECTION */

    .visiontext {
        padding: 40px;
    }

    .visiontext h2 {
        font-size: 3em;
    }

    .visionbutton {
        margin-top: 20px;
    }

    /* DESKTOP TEAM SECTION*/

    .team {
        padding: 40px;
    }

    .john {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bob {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bobimg {
        grid-column: 2;
    }

    .bobtext {
        grid-row: 1;
    }

    /* DESKTOP CONTACT SECTION */

    .contacttext {
        padding: 40px;
    }

    .fullform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 2em;
    }

    .location {
        grid-row: 1;
        grid-column: 2;
    }

    .hours {
        grid-column: 1 / span 2;
    }

    /*DESKTOP FOOTER*/

    footer {
        padding: 40px;
    }

}